
<form class="text-center border border-light p-5"  >

  <p class="h4 mb-4">Contact us</p>


  <input type="text"  mdbInput
    class="form-control mb-4" placeholder="Name">


  <input  mdbInput
    class="form-control mb-4" placeholder="E-mail">


  <label>About this Portfolio, it is...?</label>
  <select class="browser-default custom-select mb-4">
    <option value="" disabled>Choose option</option>
    <option value="1" selected>Poor</option>
    <option value="2">Good</option>
    <option value="3">Very Good</option>
    <option value="4">Excellent</option>
  </select>


  <div class="form-group">
    <textarea  class="form-control rounded-0" mdbInput 
      rows="3" placeholder="Message"></textarea>
  </div>


  <mdb-checkbox  class="mb-4">Send me a copy of this message</mdb-checkbox>


  <button  mdbBtn color="info" outline="true" block="true" class="z-depth-0 my-4 waves-effect"
    mdbWavesEffect type="submit">Send</button>

</form>
