<div class="container">
        <div class="row">
            <div class="col-sm-4">
                <mdb-card cascade="true" wider="true">
    
     
                    <div style="height: 450px;" class="view view-cascade overlay waves-light" mdbWavesEffect>
                      <mdb-card-img src="https://pnphilippinesstudentsblog.files.wordpress.com/2018/11/capture-d_ecc81cran-2018-11-21-acc80-10-14-24.png"></mdb-card-img>
                      <a>
                        <div class="mask rgba-white-slight"></div>
                      </a>
                    </div>
                  
              
                    <mdb-card-body cascade="true" class="text-center pb-0">
                      
                      <h4 class="card-title">
                        <strong>Renzy Verano</strong>
                      </h4>
                      <h5 class="indigo-text">
                        <strong>Front End  / Web Developer</strong>
                      </h5>
              
                      <mdb-card-text>
                            "Knowledgeable yet inclined to examine and discover new matters. Well skilled in software
                            development. Self-prompted and self-stimulated in finishing the assignments
                            with less supervision and can work with people with different attitudes."
                      </mdb-card-text>
              
                      <a class="px-2 icons-sm li-ic">
                        <mdb-icon fab icon="linkedin-in"> </mdb-icon>
                      </a>
                     
                      <a class="px-2 icons-sm tw-ic">
                        <mdb-icon fab icon="twitter"> </mdb-icon>
                      </a>
                      
                      <a class="px-2 icons-sm fb-ic">
                        <mdb-icon fab icon="facebook-f"> </mdb-icon>
                      </a>
              
                     
                      <div class="card-footer text-muted text-center mt-4">
                        
                      </div>
              
              
                    </mdb-card-body>
                 
                  </mdb-card>
            
              </div>
              <div>
                <div class="col-sm-15">
                    <mdb-card class="mb-3" borderColor="border-info" style="max-width: 40rem">
                        <mdb-card-header>About Me</mdb-card-header>
                        <mdb-card-body>
                          <mdb-card-text>I'm Renzy Verano, a scholar of Passerelles Numeriques Phillippines, a French NGO. I currently studying
                            at University of San Carlos under CCT or Certificate in Computer Technology. I have my internship at Dreamscape Networks Inc. as a Web Specialist.
                            I am specialized at Front-end specially in Angular js.
                          </mdb-card-text>
                        </mdb-card-body>
                      </mdb-card>
                      <mdb-card class="mb-3" borderColor="border-info" style="max-width: 40rem">
                          <mdb-card-header>Hobbies</mdb-card-header>
                          <mdb-card-body>
                            <mdb-card-text>
                              Aside from coding, I have also some hobbies like playing sports and online games. I can play basketball and soccer.
                              I can also play Mobile Legends, PubG, Call of Duty and NBA mobile. I love also sleeping and at the same time be with my friends.
                              I love learning that's why I love coding.  
                            </mdb-card-text>
                          </mdb-card-body>
                        </mdb-card>
                        <mdb-card class="mb-3" borderColor="border-info" style="max-width: 40rem">
                                <mdb-card-header>Core Skills</mdb-card-header>
                                <mdb-card-body>
                                  <mdb-card-text>
                                        <li>Basic in React.js</li>
                                        <li>Basic in SQL and NoSQL Servers </li>
                                        <li>  Javascript </li>
                                        <li>HTML and CSS</li>
                                        <li>Mongodb</li>
                                        <li>Express.js and Node.js </li>
                                        <li>Basic in Python and Java </li>
                                  </mdb-card-text>
                                </mdb-card-body>
                              </mdb-card>
                </div>
              </div>
          
        </div>
